{% extends "_base.html" %}

{% block content %}
  <!-- BEGIN CONTENT -->
  <div id="content" class="container">
    <div class="row-fluid">
      <div class="span12">
        <h1><a href= "http://graphics.latimes.com/calderon/">The Calderon Family's Connections</a></h1>
        <p><b>Organization:</b> <a href="www.latimes.com/‎
        ">LA Times</a>
        </p>
        <p><b>Date:</b> August 21, 2013</p>
        <p><b>Contributors:</b>Byron Lutz</p>
        <p><b>Description:</b> The LA Times "untangled" the connections of the Southern Californian Calderon family, now under investigation by the FBI. The connections include Campaign money, Legislation and Consulting. Conncetions are color coded and tracked through the directions of arrows.</p>
        <p><img src="{{ static_url }}/img/calderon.jpg" width="600" height="600"></p>
      </div>
    </div>
  </div>
  <!-- END CONTENT-->
{% endblock %}